{% extends "base.html" %} {% block body %}

<!-- Background Graph -->
<div id='svg-div'></div>
<!-- <div id='svg-sunburst'></div> -->

<!-- Sidebar -->
<div class="shadow active" id="sidebar">
  <div class="collapse-spot-left">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fas fa-align-left"></i>
      <div class="arrow-right" id='left-collapse-arrow'></div>
      <!-- <span>&gt;</span> -->
    </button>
  </div>
  <div class='row d-flex justify-content-center'>
    <div class="content-header d-flex justify-content-center" id='data-filter-header'>
      <!-- Filter Title -->
      <h4 class="m-0">Data Filters</h4>
    </div>
  </div>
  <div class='row d-flex justify-content-center sidebar-row'>
    <span class='d-flex justify-content-center' style="width: 100%; color: white;"> Sentiment </span>
    <div id='sentiment-slider'>
    </div>
  </div>

  <div class='row d-flex justify-content-center sidebar-row hidden'>
    <span class='d-flex justify-content-center' style="width: 100%; color: white;"> Sentiment </span>
    <div id='in-out-slider'>

    </div>
  </div>
  <div class='row d-flex justify-content-center sidebar-row hidden'>
    <span class='d-flex justify-content-center' style="width: 100%; color: white;"> Sentiment </span>
    <div id='other-filter'>

    </div>
  </div>

  <div class='row d-flex justify-content-center'>
    <div class="content-header d-flex justify-content-center" id='info-behaviour-header'>
      <!-- Filter Title -->
      <h4 class="m-0">Info Display</h4>
    </div>
  </div>
  <div class='row d-flex justify-content-center sidebar-row'>
    <span class='d-flex justify-content-center' style="width: 100%; color: white;"> Highlighted Links </span>
    <div id='highlight-slider'>

    </div>
  </div>
  <div class='row d-flex justify-content-center sidebar-row'>
    <span class='d-flex justify-content-center' style="width: 100%; color: white;"> Node Size </span>
    <div id='nodesize-slider'>
    </div>
  </div>
  <!-- <div class='row d-flex justify-content-center sidebar-row'>
    <span class='d-flex justify-content-center' style="width: 100%; color: white;"> Node Color </span>
    <div id='nodecolor-slider'>
    </div>
  </div> -->
</div>

<!-- Middle Content -->
<div class="container" id="content">
  <div id='svg-sunburst'></div>

  <!-- Search Bar -->
  <div class='d-flex' id='search-box-wrapper'>
    <div class="bs-example">
      <input type="text" class="typeahead tt-query" autocomplete="on" spellcheck="false" id='search-input'>
    </div>
   
  </div>


  <!-- Date Ranger Slider -->
  <div class="date-slider-wrapper d-flex justify-content-center">
    <div id="range-volume-scent"></div>
    <div id="range-slider"></div>
  </div>

  <!-- Node Tooltip -->
  <div class='node-tooltip-wrapper'>
    <div class="mouse-tooltip node-tooltip" id="node-tooltip" style="display: block;">
      <div style="display: inline-block;" id='node-tooltip-title'>Title</div>
      <div style="display: inline-block;" id='node-tooltip-numbers'></div>     
      <!-- <div style="display: inline;" id='node-tooltip-ranks'></div> -->
    </div>
  </div>
</div>


<!-- Rightbar -->
<div class="shadow active" id="rightbar">
  <div class="collapse-spot-right">
    <button type="button" id="rightbarCollapse" class="btn btn-info">
      <div class='arrow-left' id='right-collapse-arrow'></div>
    </button>
  </div>
  <!-- <div id='svg-sunburst'></div> -->
</div>


<script>
  var start_date = new Date("{{ first_link }}");
  var end_date = new Date("{{ last_link }}");
  var total_days = (end_date - start_date) / (1000 * 60 * 60 * 24);
</script>

<script src="../static/dist/js/typeahead.bundle.js"></script>
<script src="../static/js/main_graph.js"></script>
<script src="../static/js/line_scent.js"></script>

<!-- noUI Slider -->
<link href="../static/dist/css/nouislider.css" rel="stylesheet" />
<script src="../static/dist/js/nouislider.js"></script>

<script src="../static/js/range_picker.js"></script>
<link href="../static/css/rangepicker.css" rel="stylesheet" />

<script src="../static/js/filter_sliders.js"></script>
<link href="../static/css/filter_sliders.css" rel="stylesheet" />

<script src="../static/js/search_bar.js"></script>
<link href="../static/css/search_bar.css" rel="stylesheet" />

<link href="../static/css/icons.css" rel="stylesheet" />

<script src="../static/js/sunburst_filter.js"></script>
<script src="../static/js/main.js"></script>



<link href="../static/css/bootstrap-tour-standalone.min.css" rel="stylesheet">
<script src="../static/js/bootstrap-tour-standalone.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@observablehq/stdlib"></script>

<!-- <script src="../static/js/jquery-3.4.1.min.js"></script> -->



<script>
var tour = new Tour({
  delay: 2000
});

tour.addStep ({
    element: "#search-input",
    title: "Search Bar",
    content: "Type here to search any SubReddit"
  });
  // {
  //   element: ".noUi-connect noUi-draggable",
  //   title: "LineScent",
  //   content: "Timeline of Reddits"
  // },
  //tour.addStep ({
  //  element: ".arrow-right",
  //  title: "Arrow",
  //  content: "Click here for more Filters"
  //});

// Initialize the tour
tour.init();

// Start the tour
tour.start();
  var tour = new Tour({
    steps: [
      {
        element: "#search-input",
        title: "Search Bar",
        content: "Type here to locate a subreddit"
      },
      {
        element: ".arrow-right",
        title: "Arrow",
        content: "Click here for filters and information changes"
      },
      {
        element: "#range-volume-scent",
        title: "Scented Bar",
        content: "Drag these bars to get a time view of subreddits"
      },
      {
        element: "#node-tooltip",
        title: "Nodes",
        content: "These are the Nodes representing subreddits"
      },
      {
        element: "#node-tooltip-title",
        title: "Links",
        content: "These are the links between subreddits"
      }
    ]
  });

  // Initialize the tour
  tour.init();

  // Start the tour
  tour.start();
</script>


{% endblock %}